



/*===========================
       25.CLIENT css 
===========================*/

.client-logo-area{
    background-color: $light-color-two;
    padding-top: 80px;
    padding-bottom: 80px;
    
    & .single-client{
        & img{
            
        }
    }
}















